.home {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home img {
    width: 15%;
    height: 10%;
}

.home h1 {
    color: #464646;
}