.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEE;
    height: 150px;
}

.footer h2 {
    color: #7d7d7d
}

.footer p {
    color: #b9b9b9
}