.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.noposts {
    text-align: center;  
}
  
.noposts p {
    margin-bottom: 1.5em;
    color: #7c7c7c;
}
  
.noposts a {
    padding: 10px 25px;
}

.title_table {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 2px solid #000;
    font-weight: bold;
}

.products_list {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 94px;
}

.products_list button,
.products_list a {
  height: 30px;
  width: 100px;
  font-size: 0.7em;
  position: relative;
  right: 90px;
  margin-right: 5px;
}