body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #daedf8;
}

.btn {
  padding: .6em;
  background-color: #ffbebe;
  border-radius: 8px;
  text-decoration: none;
  color: #7f8cfc;
  font-weight: bolder;
  border: 1px solid transparent;
}

.btn:hover {
  border: 1px solid;
  border-color: #7f8cfc;
  color: #ffbebe;
  background-color: #7f8cfc;
}